.actor.sheet section.window-content ul.comma-separated.senses,
.sheet.familiar .actions-list li.action>h4 .traits,
.sheet.hazard section.window-content .actions-list li.action>h4 .traits,
.actor.npc.sheet form .sheet-body .actions-list li.action>h4 .traits {
    text-transform: none !important;
}

.roll-modifiers-dialog .toggle::before {
    content: "EIN" !important;
}

.roll-modifiers-dialog .toggle::after {
    content: "AUS" !important;
}

section.level-bump .toggle::before {
    content: "EIN" !important;
}

section.level-bump .toggle::after {
    content: "AUS" !important;
}